/* SCSS Layout Variables should be defined outside a CSS declaration so they're global */

// ONE COLUMN LAYOUTS
// $one_col_content-column_max-width: 1440px;
$one_col_content-column_min-width: 1024px;
$one_col_body-column_max-width: 890px;
$one_col_body-column_min-width: 890px;
// $one_col_body-column_offset-width: 100px;

// TWO COLUMN LAYOUTS
$two_col_content-column_max-width: 1340px;
$two_col_content-column_min-width:  992px;
$two_col_body-column_max-width:    1300px;
$two_col_body-column_min-width:     992px;
//$centercenter2col_body-column_column-1_max-width: 560px;
$centercenter2col_body-column_column-2_max-width: 640px;

// SPECIFIC ONE COLUMN LAYOUTS
$leftleft1col_body-column_max-width: 575px;
$rightright1col_body-column_max-width: 50%;
